In [6]:
# Dependencies
import gmaps
import pandas as pd

# Google developer API key
from config import gkey

# Access maps with unique API key
gmaps.configure(api_key=gkey)

In [10]:
# Import weather data from csv into data frame and dislay data frame
data= pd.read_csv('../Data_Output/city_weather.csv')
data_df=  pd.DataFrame(data)
data_df.head()

,City,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,Fortuna,US,40.5982,-124.1573,50.29,62.0,1.0,12.66
1,Port Hawkesbury,CA,45.6169,-61.3485,34.61,86.0,90.0,26.46
2,Svobodnyy,RU,51.4000,128.1333,35.78,68.0,24.0,15.79
3,Hobart,AU,-42.8794,147.3294,64.69,48.0,0.0,10.36
4,Puerto Ayora,EC,-0.7393,-90.3518,79.00,92.0,75.0,3.00